<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dpdpayment</name>
    <displayName><![CDATA[Numerar, la livrare / Ramburs]]></displayName>
    <version><![CDATA[3.0.0]]></version>
    <description><![CDATA[DPD Cash On Delivery Module]]></description>
    <author><![CDATA[DPD Romania]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>